.basket__wrapper {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(239, 239, 239, 0.8);
    overflow: auto;
}

.basket__container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 20px;
    border-radius: 10px;
    margin: 0 auto;
    width: 1170px;
}

.basket__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.basket__title {
    font-size: 24px;
    line-height: 120%;
}

.basket__close {
    font-size: 26px;
    line-height: 120%;
    font-weight: 700;
    cursor: pointer;
}

.basket__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.basket__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.basket__item-img {
    width: 72px;
    height: 95px;
}

.basket__item-desc {
    font-weight: 700;

}

.basket__item-price {}

.basket__footer {
    border-top: 1px solid black;
}

.basket__total {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 120%;
    font-weight: 700;
}